.content-produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 200px 0;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-produtos {
    font-size: 24px;
    margin: 5px;
    border: 1px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.linha {
    margin: 10px 0;
    border-bottom: 1px solid #000000;
    width: 100%;
}


.tabela-produtos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabela-produtos th, .tabela-produtos td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

.tabela-produtos thead {
    background-color: #494848;
    color: #ffffff;
}

.tabela-produtos tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}