body, html {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}
.list-pokemons {
    margin-top: 50px;
    font-size: 24px;
    font-family: Arial, sans-serif;
    list-style-type: none;
    padding: 0;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#welcome {
    font-size: 32px;
    margin-top: 5%;
}