.content {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border: 2px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    width: 80%;
    margin: 20px auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


.content h2 {
    color: #333333;
    margin-bottom: 15px;
}